<div id="popUp_juri">
	<a style="float:right; font-weight:bold; text-decoration:none;" href="#">Закрыть</a>
	<h4>Демидов Алексей</h4>
	<div style="margin:15px 0 25px 0;">Алматы, Казахстан</div>
	<img alt="" border="0" src="<?php echo static_url(); ?>images/a_demidov.jpg" width="460" />
	<div style="width:400px;float:left;">Фототокорреспондент со стажем более 10 лет, работал в информационном Агенстве АКИ-пресс, нескольких газетах, был штатным фотографом при МИДе КР, в изданиях "Российская газета", "Новый Кыргызстан”, 
журнал "Ракурс", Zentr.kg, информационное агентство 24.kg.<br /><br />
В настоящий момент является фотографом мэрии города Бишкека и гос.предприятия «Кыргыз Темир –Жолы» - агентства по Туризму, а также председателем Союза 
Фотожурналистов КР, автором и координатором ряда интернет-проектов, связанных с фотографией:<br /><br />
www.photo.kg<br />www.photoasia.ru<br />www.report.kg<br />www.gde.kg<br />www.aitmatov.kg<br />www.show.kg<br />www.foto.kg<br />www.photocross.kg<br /><br />
Email:  photo.kg@mail.ru
	</div>
	<div class="clear"></div>
<!-- End popUp_juri--></div>